<h1>Listing pastposts</h1>

<table>
  <tr>
    <th>Shortlink</th>
    <th>Body</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @pastposts.each do |pastpost| %>
  <tr>
    <td><%= pastpost.shortlink %></td>
    <td><%= pastpost.body %></td>
    <td><%= link_to 'Show', pastpost %></td>
    <td><%= link_to 'Edit', edit_pastpost_path(pastpost) %></td>
    <td><%= link_to 'Destroy', pastpost, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Pastpost', new_pastpost_path %>
